@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-purple-500 text-white font-bold rounded border-purple-700 py-2 px-4 border-b-4;
}
.repos-list {
  columns: 3;
  column-rule: 1px solid;
  @apply p-4;
}
body {
  @apply bg-gray-100;
  overflow-y: scroll;
  min-height: 450px;
  
  
}
.repos-list li {
  break-inside: avoid-column;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  @apply bg-blue-200 text-purple-700 text-xs p-2 inline-block;
}

.headerInfo {
  background: rgb(0, 191, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 191, 255, 1) 4%,
    rgba(0, 118, 206, 1) 64%,
    rgba(21, 96, 189, 1) 75%
  );
}

/*
 *  STYLE 6
 */


 body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.is-dark-mode {
  --black: white;
  --white: #273542;
  --background: #1a2833;
}

.is-light-mode {
  --black: #111517;
  --white: white;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: white;
    --white: #273542;
    --background: #1a2833;
  }
}


